<footer class="footer">
   <div class="footer1">
       <img src="../images/logo.png" alt="logo Trade Books">

   </div>

   <div class="institucional">
       <h4>institucional</h4>
       <ul>
           <li><a href="#">sobre nós</a></li>
           <li><a href="#">perguntas frequentes</a></li>
           <li><a href="#">politica de privacidade</a></li>
           <li><a href="#">rastreamento de pedidos</a></li>
           <li><a href="#">trabalhe conosco</a></li>
           <li><a href="#">contato</a></li>
       </ul>
   </div>
   
</footer>