<form method="post" action="/userProfile/criarNovo" id="form" class="form">
    <label for="username">Nome Completo</label>
    <div class="style-input form-control">
        <input type="text" name="name" id="username">
        <i class="img-success"><img src="/images/success-icon.svg" alt="Imagem com V verde"></i>
        <i class="img-error"><img src="/images/error-icon.svg" alt="Imagem com X vermelho"></i>
        <small>Error Message</small>
    </div>
    <div class="linha" id="linhaNome"></div>

    <label for="username">Nome de usuário</label>
    <div class="style-input form-control">
        <input type="text" name="user_name" id="username">
        <i class="img-success"><img src="/images/success-icon.svg" alt="Imagem com V verde"></i>
        <i class="img-error"><img src="/images/error-icon.svg" alt="Imagem com X vermelho"></i>
        <small>Error Message</small>
    </div>
    <div class="linha" id="linhaNome"></div>

 

    <label for="">Email</label>
    <div class="style-input form-control">
        <input type="email" name="email" id="email">
        <i class="img-success"><img src="/images/success-icon.svg" alt="Imagem com V verde"></i>
        <i class="img-error"><img src="/images/error-icon.svg" alt="Imagem com X vermelho"></i>
        <small>Error Message</small>
    </div>
    <div class="linha"></div>
    <label for="">Confirmação do email</label>
    <div class="style-input form-control">
        <input type="email" id="confirma-email" name="confirmEmail">
        <span class="span-email"></span>
        <i class="img-success"><img src="/images/success-icon.svg" alt="Imagem com V verde"></i>
        <i class="img-error"><img src="/images/error-icon.svg" alt="Imagem com X vermelho"></i>
        <small>Error Message</small>
    </div>
    <div class="linha"></div>
    <label for="">Senha</label>
    <div class="style-input form-control">
        <input type="password" name="password" id="password">
        <i class="img-success"><img src="/images/success-icon.svg" alt="Imagem com V verde"></i>
        <i class="img-error"><img src="/images/error-icon.svg" alt="Imagem com X vermelho"></i>
        <small>Error Message</small>
        <span class="span-senha"></span>
    </div>
    <div class="linha" id="linhaSenha"></div>
    <label for="">Confirmação de senha</label>
    <div class="style-input form-control">
        <input type="password" id="password-two" name="confirmPassword">
        <i class="img-success"><img src="/images/success-icon.svg" alt="Imagem com V verde"></i>
        <i class="img-error"><img src="/images/error-icon.svg" alt="Imagem com X vermelho"></i>
        <small>Error Message</small>
    </div>
    <div class="linha" id="linhaSenha"></div>
    <div class="btn">
        <button type="submit" class="button-resgitrer">Cadastrar</button>
    </div>
</form>
